<ion-view view-title="play">
	<ion-content>
		<div class="row">
			<div class="col">
				<h1>video del agua</h1>
				<video controls src="../img/agua.mp4" class="vid"></video>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<h1>Vídeo de fecundación</h1>
			<video controls src="../img/na.mp4" class="vid"></video>
			</div>
		</div>

		<div class="row">
			<div class="col">
			<h1>Vídeo de reproduccion</h1>
			<video controls src="../img/ci.mp4" class="vid"></video>
			</div>
		</div>

	}

	</ion-view>
</ion-content>