<ion-view view-title="Biologia">
  <ion-content class="padding">
    <h2></h2>
    <p>
    
    <a href="http://market.ionic.io/starters" target="_blank" rel="noopener">Ionic Market</a>.
    </p>
    <p>
      
    </p>
    <p>
    El agua no solo es importante como recurso vital sino también como recurso económico e industrial, ya que se usa en innumerables actividades industriales, supone un consumo elevado y casi siempre resulta contaminada”.
    Vamos a ver porqué el agua resulta tan importante para la vida. Fuera del mar, el agua potable es apenas solo un 1 por ciento de todo el agua existente, el 96 por ciento restante es agua salada que se encuentra en los mares, y el tres por ciento que falta es el agua que se encuentra en los polos en forma de hielo.
Y aunque parezca que llueve a menudo y que disponemos de forma muy gratuita e ilimitada del agua, es todo lo contrario. La tierra cada vez está mas caliente, la desertización va creciendo en zonas que antes gozaban de ríos y pantanos, y la imposibilidad de poder cultivar y regar la tierra se está convirtiendo en el principal problema de hambre a nivel mundial.<a href="http://forum.ionicframework.com" target="_blank" rel="noopener">Ionic Forum</a>. Make sure to <a href="http://twitter.com/ionicframework" target="_blank" rel="noopener">follow us</a> on Twitter to get important updates and announcements for Ionic developers.
    </p>
  </ion-content>
</ion-view>
