<ion-view view-title="Biologia">
  <ion-content class="padding">
    <h2></h2>
    <html>
<head>
<title>Juego Memoria</title>
<script src="https://code.jquery.com/jquery-1.11.2.js"language="javascript" type="text/javascript"></script> 
<script src="juego.js" language="javascript" type="text/javascript"></script>
<link href="estilos.css" rel="stylesheet" />
 
</head>
 
<body>
<div id="fondo">
<h2>Juego vitaminas</h2>
<h3>Debemos recordar la secuencia de ciruclos azules y <br>
hacer clic repitiendo la secuancia</h3>
<div class="contenedor">
<div class="juego"></div> 
</div>
</div>
</body>
</html>
  </ion-content>
</ion-view>
