<ion-view view-title="Biologia">
  <ion-content class="padding">
    <h2></h2>
    
	<link rel="icon" href="https://www.google.com.gt/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwib1ayC_P_hAhXJUt8KHXx1ChAQjRx6BAgBEAU&url=https%3A%2F%2Fconceptodefinicion.de%2Fbiologia%2F&psig=AOvVaw2y9L1sx1Kd85inCbMPr7hz&ust=1556993789893159">
<html>
<body>
  
	<div class="todo">
    <div class="titulo"> 
      <p>Juego de memoria </p>
    </div>
    	<div class="contador">
			<p>Intentos</p>
		  	<p class="counter">0</p>
		</div>
		<div class="memoria">
			<div class="carta" id="1">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
			<div class="carta" id="2">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
			<div class="carta" id="3">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
			<div class="carta" id="4">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
			
			<div class="carta" id="5">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
			<div class="carta" id="6">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
			<div class="carta" id="7">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
			<div class="carta" id="8">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
			
			<div class="carta" id="9">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
			<div class="carta" id="10">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
			<div class="carta" id="11">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
			<div class="carta" id="12">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
		
			<div class="carta" id="13">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
			<div class="carta" id="14">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
			<div class="carta" id="15">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
			<div class="carta" id="16">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
      
      <div class="carta" id="17">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
      
      <div class="carta" id="18">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
	
		</div>
	</div>
	
</body>
</html>
  </ion-content>
</ion-view>
