<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="juego" icon-off="ion-social-buffer" icon-on="ion-social-buffer" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Infografia" icon-off="ion-social-linkedin" icon-on="ion-social-linkedin" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <ion-tab title="table" icon-off="ion-social-foursquare-outline" icon-on="ion-social-foursquare-outline" href="#/tab/table">
    <ion-nav-view name="tab-table"></ion-nav-view>
  </ion-tab>



  <!-- Account Tab -->
  
  <ion-tab title="galeria" icon-off="ion-android-image" icon-on="ion-android-image" href="#/tab/inicio">
    <ion-nav-view name="tab-inicio"></ion-nav-view>
  </ion-tab>

<ion-tab title="adn" icon-off="ion-beaker" icon-on="ion-beaker" href="#/tab/adn">
    <ion-nav-view name="tab-adn"></ion-nav-view>
  </ion-tab>

</ion-tabs>
