{
  
}
.nutrifacts-html {
  padding: 2px;
  font-family:"Helvetica";
  font-size: 12px;
  float:left;
  border: 2px solid black;
  width:250px;
  margin-top:2px;
  }
.nutrifacts-html table{
  border-collapse: collapse;
  width: 100%
}
.nutrifacts-html td {
  border-top: 1px solid black;
}
.nutrifacts-html h2 {
  margin:0;
  font-size:29px; 
}
.separator {
  height:7px;
  background-color:black;
  margin-top:2px;
}
.alineartexto {
  text-align:right;
}
.alinearcantidad {
  text-align:right;
}